.todo {
  border-bottom: 1px solid black;
  display: flex;
  margin-bottom: 5px;
  align-items: center;
}
.todo-functions {
  display: flex;
  flex: 1;
  justify-content: flex-end;
  .btn {
    margin: 5px;
    margin-right: 0px;
  }
}
